<!-- <div class="m-2 border border-primary">
    <img class="img-fluid" src="{{_global.imgUrl}}/{{dData.image}}">
    <h4 class="text-primary" routerLink="">{{dData.title}}</h4>
</div> -->

<div class="card d-flex " style="width: 18rem; height: 100%;">
    <img src="{{_global.imgUrl}}/{{dData.image}}" class=" img-fluid" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary ">View</a>
        <a href="#" class="btn btn-success">Buy </a>

    </div>
</div>