{{>header}}
{{>navbar}}
<section class="my-3 container">
    <form method="post">
         <div class="my-3">
            <input class="form-control" placeholder="Task Type" name="taskType">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="add task Type">
        </div>
    </form>
</section>
{{>footer}}